*{
    margin: 0px;
    padding: 0px;
}

img{
    height: 400px;
    width: 250px;
}

.carossel{
    height: 400px;
    width: 250px;
    margin: 50px auto;
    
}

.tudo > ul{
    display: flex;
    height: 400px;
    width: 250px;
    list-style: non;

}